
/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# # # # # # # # # # # TESTIMONIAL STYLE LISTS  # # # # # # # # # # # 
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */

// Laptops & above
@media only screen and (min-width: 62em) {
    section[id*="reviews"] {
        .user-items-list {
            padding-top: 2vmax !important;
        }
    }
}

section[id*="reviews"] {

    //FONTS
    .user-items-list-carousel .list-item-content__description {
        font-size: var(--p1-size) !important;
        letter-spacing: var(--body-font-letter-spacing);

    }

    .user-items-list-carousel .list-item-content__description strong,
    h2.list-item-content__title {
        font-size: var(--p2-size) !important;
        font-weight: var(--body-font-font-weight) !important;
        line-height: ~"calc(var(--body-font-line-height) *0.5)" !important;
    }

    li.user-items-list-carousel__slide.list-item {
        display: grid;
        grid-template-columns: 76px 1fr;
        grid-gap: 1rem;
    }

    .list-item-content__description {
        margin-top: 0px !important;
    }

    .list-item-content {
        margin-top: 1.5rem;
    }
}

// Phones & Tablets
@media only screen and (max-width: 62em) {
    section[id*="reviews"] {
        .user-items-list-carousel[data-alignment-vertical="stretch"] .user-items-list-carousel__slide {
            align-self: start;
        }

        .user-items-list-carousel__media-container {
            margin-bottom: 0rem !important;
        }

        .user-items-list-carousel .list-item-content__description strong,
        h2.list-item-content__title {
            font-size: var(--p1-size) !important;
            font-weight: var(--body-font-font-weight) !important;
            line-height: var(--body-font-line-height) !important;
        }

        li.user-items-list-carousel__slide.list-item {
            display: grid;
            grid-template-columns: 1fr !important;
            grid-gap: 0rem;
        }

        .user-items-list-carousel__media-container {
            width: 30% !important;
        }

        .user-items-list-carousel[data-media-alignment="left"] .user-items-list-carousel__media-container {
            margin-left: auto;
        }

        .user-items-list-carousel[data-body-alignment="left"] .list-item-content__description,
        .user-items-list-carousel[data-title-alignment="left"] .list-item-content__title {
            text-align: center;
            max-width: 100% !important;
        }
    }
}

/* # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# # # # # # # # # # # # # #  SIMPLE LISTS  # # # # # # # # # # # # #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */

/*SIMPLE LIST*/
section[id*="simple-list"] .list-section-title {
    padding-left: 4vw !important;
    padding-right: 4vw !important;
    margin-bottom: 1.5rem;
}
